html,
body,


.cover {
    height: 100%;
}

.cover {
    background: url('../img/Familyhubheader2.png') top left no-repeat;
    background-size: cover;
    display: table;
    width: 100%;
    padding: 0 20%;
    box-shadow: inset 0 0 100px #000;
    
}



.cover-text {
    text-align: center;
    color: black;
    display: table-cell;
    vertical-align: middle;
     z-index:10;
     
}

.cover-text h1 {
    margin: 0;
    font-size: 100px;
    
   
}



/* nav.navbar-inverse {
     background: rgba(43,62,80, 0.7); 
      background-color: transparent;
    background: transparent; 
    border-color: transparent; 
    border: none;
} */

.navbar li a{
    color: black;
}

.navbar-default{
    background: #4e5d6c;

}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
       background-color: #bb1e2c;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #bb1e2c;;
}

.logo {
   position:absolute;
   width:auto;
   height:auto;
   z-index:1;
   left: 75px;
   top: 75px;
}

.navbar-brand {
    padding: 0px 15px;
    -webkit-animation-duration: 1s;
}



.navbar-inverse .navbar-nav>li>a {
    color: white;
}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-text {
    color: white;
}


.panel {
    margin-bottom: 1px; 
    background-color: #fff;
    border-radius: 4px;
    /* box-shadow: 0 1px 1px rgba(0,0,0,.05); */
    /* box-shadow: 0 0 1px grey; */
}

.form-control {
    
    background-color: #ebebeb;
}



 h1, h2, h3, h4, h5, h6 {
    font-family: 'Arvo', Georgia, Times, serif;
}
/* p, div {
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
}  */



/* h2 {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0px;
} */

#why {
    margin: 0px;
    padding: 25px 0px; 
    background: #c73733;
}
#calendar {
    margin: 0px;
    padding: 50px 0px;
    background: #4e5d6c;
}
#photos {
    margin: 0px;
    padding: 50px 0px;
    background: #48ab43;
}
#lists {
    margin: 0px;
    padding: 50px 0px;
    background: #4e5d6c;
}

#app-navbar-collapse {
    background: #4e5d6c !important;
}



#navlogo {
    margin-bottom: 10px;
}

#coverText {
    color: #c73733;
    border: width border-style color;
    text-shadow:
		-1px -1px 0 #2b3e50,
		1px -1px 0 #2b3e50,
		-1px 1px 0 #2b3e50,
		1px 1px 0 #2b3e50;
}


 @media screen and (min-width:761px){
      
   .cover-text h1 {
    margin: 0;
    font-size: 75px;
}

    }

    @media screen and (max-width:760px){
        
     .cover-text h1 {
    margin: 0;
    font-size: 50px;
}

    
    }

    @media screen and (max-width:480px){
        
     .cover-text h1 {
    margin: 0;
    font-size: 50px;
}

    
    }

    @media screen and (max-width:360px){
         
   .cover-text h1 {
    margin: 0;
    font-size: 50px;
}





 @media screen and (min-width:761px){
      
  .cover {
     width: 75%;

    }

    @media screen and (max-width:760px){
        
     .cover {
     width: 75%;
}

    
    }

    @media screen and (max-width:480px){
        
     .cover {
     width: 50%;
}

    
    }

    @media screen and (max-width:360px){
         
    .cover {
     width: 50%;
}

    
/* #albums {
    display: flex;
} */








/* {
    font-family: 'Scope One', serif;
} */































