html,
body,
.cover {
    height: 100%;
}

.cover {
    background: url('../img/Familyhubheader2.png') top left no-repeat;
    background-size: cover;
    display: table;
    width: 100%;
    padding: 0 20%;
    box-shadow: inset 0 0 100px #000;
}

.cover-text {
    text-align: center;
    color: black;
    display: table-cell;
    vertical-align: middle;
     z-index:10;
}

.cover-text h1 {
    margin: 0;
    font-size: 70px;
    letter-spacing: -3px;
   
}

nav.navbar-inverse {
     background: rgba(0, 0, 0, 0.5); 
    /* background-color: transparent;
    background: transparent;
    border-color: transparent; */
    border: none;
}

.navbar li a{
    color: white;
}

.navbar-default{
    background: #48ab43;
}

.logo {
   position:absolute;
   width:auto;
   height:auto;
   z-index:1;
   left: 75px;
   top: 75px;
}


h2 {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0px;
}

#why {
    margin: 0px;
    padding: 25px 0px; 
    background: #c73733;
}
#calendar {
    margin: 0px;
    padding: 50px 0px;
    background: #ddfffd;
}
#photos {
    margin: 0px;
    padding: 50px 0px;
    background: #48ab43;
}
#lists {
    margin: 0px;
    padding: 50px 0px;
    background: #ddfffd;
}

#app-navbar-collapse {
    background: #48ab43 !important;
}


/* {
    font-family: 'Scope One', serif;
} */
    






























